.error {
  border: 1px solid red;
}

.error-message {
  padding: 0;
  margin-top: 4px;
  font-size: 10px;
  color: red;
}

.is-done {
  opacity: 0.5;
}

.todolist-title-container {
  display: flex;
  justify-content: center;
}
